{{#partial "content"}}

    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{ detail.title }}</h1>
                    <time>{{ detail.date }}</time>
                    <div class="entry">
                        <p>{{ detail.blogPost }}</p>
                        <p><a class="link" href="/edit/{{ detail.slug }}">Edit Entry</a></p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            <div class="comment">
                <p>{{ detail.comments }}</p>
            </div>
            <div class="new-comment">
                <form action="/detail/{{ detail.slug }}/comment" method="post">
                    <label for="name"> Name</label>
                    <input type="text" name="commenter"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="blogComment"></textarea>
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>

{{/partial}}

{{> base.hbs}}