{{#partial "content"}}

    <section>
        <div class="container">
            <div class="entry-list">
                {{#each entries}}
                <article>
                    <h1><a href="/detail/{{ detail.slug }}/comment">{{ title }}</a></h1>
                    <h2>{{ creator }}</h2>
                    <time>{{ date }}</time>
                    <p>{{ blogPost }}</p>
                </article>
                    <ul>
                        {{#each detail.comment}}
                            <li>{{ this }}</li>
                        {{/each}}
                    </ul>
                {{/each}}
            </div>
        </div>
    </section>

{{/partial}}

{{> base.hbs}}