{{#partial "content"}}

    <h1>Welcome Comic Book Enthusiasts!</h1>

    <form action="/" method="post">

        <fieldset>

            <label for="name">Enter your username:</label>
            <input type="text" id="user_name" name="username">

        </fieldset>

        <button>Submit</button>
    </form>

    <div class="entry">
        {{#each entries}}
        <div class="title">{{ title }}<div>
        <div class="creator">{{ creator }}</div>
        <div class="post">{{ blogPost }}</div>
        {{/each}}
    </div>

    <div class="comments">
        {{#each comments}}
            <div class="comment">
                <h2>{{commenter}}</h2>
                {{{blogComment}}}
            </div>
        {{/each}}
    </div>

{{/partial}}

{{> base.hbs}}