{{#partial "content"}}

    <h1>Welcome Comic Book Enthusiasts!</h1>

    <div class="entry">
        {{#each entries}}
            <h1>{{ title }}</h1>
            <h2>{{ creator }}</h2>
            <h3>{{ date }}</h3>
            <p>{{ blogPost }}</p>
        <section>
            <h2>{{ commenter }}</h2>
            <p>{{ blogComment }}</p>
        </section>

        <div><a href="/detail"></a><button>Add Comment</button>

        {{/each}}
    </div>
    </div>
{{/partial}}

{{> base.hbs}}