{{#partial "content"}}

    <h1>Welcome Comic Book Enthusiasts!</h1>

    <div class="entry">
        {{#each entries}}
        <div class="title">{{ title }}<div>
        <div class="creator">{{ creator }}</div>
        <div class="post">{{ blogPost }}</div>
        {{/each}}
    </div>

    <div class="comments">
        {{#each comments}}
            <div class="comment">
                <h2>{{commenter}}</h2>
                {{{blogComment}}}
            </div>
        {{/each}}
    </div>

{{/partial}}

{{> base.hbs}}