{{#partial "content"}}

    <h1>Welcome Comic Book Enthusiasts!</h1>

    <div class="entry">
        {{#each entries}}
        <div class="title">
            <form action="/index/{{ slug }}/comment" method="post">
                {{ title }} <button>Comment</button>
            </form>
        <div>

        <div class="creator"><h3>{{ creator }}</h3></div>

        <div class="post"><p>{{ blogPost }}</p></div>

            <div class="comments">
                {{#each comments}}
                    <div class="comment">
                        <h2>{{ commenter }}</h2>
                        <p>{{ blogComment }}</p>
                    </div>
                </div>
                {{/each}}
        </div>
        {{/each}}
    </div>
    </div>
{{/partial}}

{{> base.hbs}}